body{
  display: flex;
  align-items: center;
  justify-content: center;
}

.App{
  display: flex;
  align-items: center;
  margin: 50px;
  padding:8px;
  width: 400px;
  height: 40px;
  border: 1px solid ;
  border-radius: 8px;

}
.App input{
  margin-left:8px;
  width: 90%;
  height: 80%;
  outline-color:#fff;
  border:none;
  font-size: medium;
  
}
